{{!-- Search bar --}}
<nav class="navbar navbar-light bg-light float-right">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>

{{!--  main body --}}

{{!-- banner info on main.handlebars --}}

{{!-- side bar nav area --}}

<div class="container">
  <div class="row py-3" style="height: 700px;">
    <div class="col-3 order-1 h-100" id="sticky-sidebar">
      <div class="sticky-top">
        <a href="/entry-form" id="entry">
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Make A New Memory
          </button>
        </a>
        <a href="/reader" id="reader">
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Search Memories
          </button>
        </a>
        <a>
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Family
          </button>
        </a>
        <a>
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Personal
          </button>
        </a>
        <a>
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Professional
          </button>
        </a>
        <a>
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Photos
          </button>
        </a>
        <a>
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Biography
          </button>
        </a>
        <a>
          <button type="button" class="btn btn-block btn-outline-dark mb-3">
            Emergency Contacts
          </button>
        </a>
      </div>
    </div>

    <!-- center section -->

    <div class="col-9 order-2" id="memory-display">
      <main>
        <div class="container">
          <div class="row py-3">
            <div class="col" id="main">
              <div class="card" style="height: 400px;">
                <div class="card-body">
                  <h5 class="card-title" id="memory-title">Memory Title</h5>
                  <div class="media-display">
                    <div class="media-body" id="memory-body" rows="10" style="
                            height: 100%;
                            max-height: 278px;
                            min-height: 278px;
                            width: 100%;
                          ">
                      <p>

                        {{!-- Not sure what way it should be --}}
                        {{#each posts}}
                        <h2> <a href="/blog/{{id}}">{{title}}</a> </h2>
                        <p>
                          {{content}}
                        </p>
                        {{/each}}

                      </p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <a href="/reader" id="reader">
                      <button type="button" class="btn btn-outline-dark">
                        Delete Memory
                      </button>
                    </a>
                    <a href="/entry-form" id="entry">
                      <button type="button" class="btn btn-outline-dark">
                        Update Memory
                      </button>
                    </a>
                    <a href="/entry-form" id="entry">
                      <button type="button" class="btn btn-outline-dark">
                        New Memory
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- sidebar area far right -->


            <div class="col-3 order-2" id="sticky-sidebar">
              <div class="sticky-top">
                <p>Memory Search</p>
              </div>
              <div class="searchArticles">
                {{#each searchData}}
                <div class="projCards portItem" id={{this._id}}>
                  <h1><u>{{this.category}}</u></h1>
                  <div class="cardText">
                    <h5 class="projText">{{this.title}}</h5>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
    </div>
    </main>
  </div>
</div>
</div>